<!DOCTYPE html>
<html>
  <head>
    <title>Merdeka - Are You fast Enough?</title>
    <meta property="og:title" content="Merdeka - Are You Fast Enough?">
    <meta property="og:description" content="Collect as many Malaysian Flags as you can in 15 seconds! Share your top score by tagging #DnaNegarAku">
    <meta property="og:image" content="">
    <meta property="og:url" content="">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="application.js"></script>
  </head>
  <body>
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v4.0&appId=388473914948715&autoLogAppEvents=1"></script>
    <div class='end'>
      <div class='final-score'>
        <div class="row">
          <div class="col-8 offset-2 col-md-6 offset-md-3">
            <h1>Time's Up!</h1>
            <p class="mb-0">You caught</p>
            <h2 class="mb-0" id="final-score"></h2>
            <p class="">Malaysian flags.</p>
            <button class="btn btn-warning btn-sm mb-5" id='restart'>Play again</button>
          </div>
        </div>
        <div class="row">
          <div class="col-8 offset-2 col-md-4 offset-md-4">
            <div class="fb-share-button" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button" data-size="large"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Share</a></div>
            
            <a href="https://twitter.com/intent/tweet?button_hashtag=LoveTwitter&ref_src=twsrc%5Etfw" class="twitter-hashtag-button" data-show-count="false">Tweet #LoveTwitter</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
          </div>
        </div>
      </div>
    </div>

    <div class="container">

      <div class="row justify-content-center align-items-center admin">
        <div class='col-6 timer'>
          <h2 id='timer'>15</h2>
          <p>seconds left</p>
        </div>
        <div class='col-6 score'>
          <h2 id='score'>0</h2>
          <p>flags collected</p>
        </div>
      </div>

      <div class="intro">
        <h1>Grab As Many Malaysian Flags As You Can</h1>
        <h4>You have 15 seconds.</h4>
        <h4>Can you make it onto the leaderboard?</h4>
        <button class="btn btn-danger" id='start'>Start!</button>
      </div>

    </div>
  </body>
</html>
