<!DOCTYPE html>
<html>
  <head>
    <title>BrowserCrush</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="style.css">
    <script   src="https://code.jquery.com/jquery-2.2.3.min.js"   integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo="   crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script src="application.js"></script>
  </head>
  <body>
    <div class='end'>
      <div class='final-score'>
        <h1>Oops! You have no more lives!</h1>
        <p></p>
        <button class="btn btn-warning" id='restart'>Play again</button>
      </div>
    </div>
    <div class="container">
      <div class="intro">
        <h1>Crush These Browsers</h1>
        <h4>Gain points when you close windows.</h4>
        <h4>Lose points when you don't.</h4>
        <button class="btn btn-default" id='start'>Start!</button>
      </div>

      <div class='score'>
        <p id='score'>Score: 0</p>
        <p><span class='glyphicon glyphicon-heart' id='0'></span><span class='glyphicon glyphicon-heart' id='1'></span><span class='glyphicon glyphicon-heart' id='2'></span></p>
      </div>

    </div>
  </body>
</html>