@import url(https://fonts.googleapis.com/css?family=Slabo+27px);

html, body, .container {
	height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}

body {
	font-family: 'Slabo 27px', serif;
	text-align: center;
}

.game {
	height: 100%;
	padding: 1rem;
}

.end {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
	background-color: white;
}

.container {
  position: relative;
}

.admin {
	z-index: 99;
}

.admin h2, .end h2 {
	margin-bottom: 0 !important;
}

.flag img, .foreign-flag img {
	z-index: 1;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.intro {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.final-score {
	margin-top: 20vh;
}

.panel-body {
  padding: 0px !important;
}

button#start {
  margin-top: 20px;
  font-size: 30px;
}

.final-score {
  display: none;
}

.final-score p {
  font-size: 20px;
}

.fb-share-button, .fb-share-button iframe {
	height: 100px;
	width: 100px
}

.success-msg {
	display: none;
}
